.origin {
    width: 30em;
    height: 5em;
}

#piros {
    background-color: red;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#feher {
    background-color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#zold {
    background-color: green;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#colop {
    border-left: 20px solid black;
    height: 30em;
}

#colop:hover {
    border-right: 20px solid black;
    height: 30em;
    border-left: none;
    margin-right: 71em;
}