.origin {
    width: 30.5em;
    height: 5em;
}

#piros {
    background-color: red;
}

#feher {
    background-color: white;
}

#zold {
    background-color: green;
}
#keret {
    border-left: 20px solid black;
    height: 30em;
}

#keret:hover {
    border-right: 20px solid black;
    height: 30em;
    border-left: none;
    margin-right: 71em;
}